/* Your CSS definitions here */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

#fieldTbl {
  background-color: rgb(50, 100, 85);
  border: 5px solid white;

  font-weight: bold;
  text-align: center;

  border-spacing: 5px;
  margin-bottom: 10px;
}

tr.inningNum {
  vertical-align: text-bottom;
  vertical-align: bottom;
}

td {
  height: 25px;
  width: 18px;
  border: 3px;
  font-weight: normal;
}

td.innings {
  border: solid black;
}

td.runs {
  border: solid white;
}

img {
  vertical-align: bottom;
  size: 120px;
}

#ctlCenter {
  background-color: black;

  font-weight: bold;
  text-align: center;

  border: outset;
  border-radius: 10px;
  border-spacing: 5px;
  padding: 20px;
  margin-top: 10px;
}

button {
  font-family: Courier, monospace;
}
